<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utils</title>
</head>
<body>
    <h1> Welcome to the text analyazer. Enter your text below</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style='margin: 0px; height: 177px; width: 1358px;'></textarea>
        <input type="checkbox" name="removepunc"> Remove puncuations<br>
        <input type="checkbox" name="fullcaps"> UPPERCASE<br>
        <input type="checkbox" name="Newlineremove"> Remove new line<br>
        <input type="checkbox" name="Removespace"> Remove space<br>
        <input type="checkbox" name="Charactercount"> Charactercount<br>
        <button type="submit"> Analyse text</button>
    </form>

</body>
</html>
